nav ul{
    list-style: none;
    display: inline-block;
    padding:1px;
    margin-left: 5px;
    margin-right: 5px;
 }

 nav ul li{
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.fond{
    position: absolute;
    float: right;
    top: 0px;
    margin-left: 61%;
}

.logs{
    margin-right: 10px;
}

.link :hover{
    background: linear-gradient( 90deg, #3600f8 0%, #c7249e 100%); 
}
.ejemplo1 { 
    background: linear-gradient( 90deg, #3600f8 0%, #c7249e 100%); 
    text-decoration:none;
    font-weight: 16px;
    font-size: 16px;
    color:#ffffff;
    padding-top:9px;
    padding-bottom:10px;
    padding-left:32px;
    padding-right:20px;
    height: 40px;
    width: 150px;
    border-color: #d8d8d800;
    border-width: 3px;
    border-radius:5px;
}

.ejemplo1:hover { 
    background: linear-gradient( 90deg, #704af8 0%, #f76dd4 100%);
    transition: all .3s;
}

.ima {
    position: absolute;
    margin-left: 350px;
    margin-right: 50px;
    top: 5px;
}

.layer{
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0);
}

.layer1{
    margin-left: 220px;
    margin-top: 85px;
    height: 300px;
    width: 600px;
}